nav(class='navbar navbar-default navbar-fixed-top')
  div.container
    div.navbar-header.navbar-header-fix
      button(class='navbar-toggle collapsed', type='button',aria-controls='navbar',
                data-toggle="collapse" data-target="#navbar" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.stena-brand(href='/')
        span.blue STENA
        span NET
    div#navbar(class='navbar-collapse collapse')
      ul.nav.navbar-nav
        li
          a(href='/')= __('nav_about')
        li
          a(href='/partners')= __("Our_partners")
        li
          a(href='/how-it-works')= __("How_it_works")
        li
          a(href='/view')= __("Все STENы")
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a(href='#', class='dropdown-toggle', role='button', data-toggle='dropdown', 
                  aria-haspopup='true',aria-expanded="false")= __("lang")              
            span.caret
          ul#language-menu.dropdown-menu
            li
              a(href='#', data-lang='ru') RU
            li
              a(href='#', data-lang='by') BY
            li
              a(href='#', data-lang='pl') PL