meta(charset='utf-8')
meta(lang='#{lang}')
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='author', content='')
meta(name='description', content='')
link(rel='icon',type='image/x-icon',href="/favicon.ico?v=2")