doctype html
html
  head
    include ./shared/metaTags
    
    title StenaNet - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    
  body
    include ./shared/header
        
    div.container.main-container
      block content
    
    footer.our-footer
      div.container
        span version #{version}
        a.secret-link(href="/user", style="display:block") Админка
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='./javascripts/bootstrap.min.js')
    script(src='./javascripts/js.cookie.js')
    script(src='./javascripts/common.js')